<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <ol>
        <h1>this is ganga html page</h1>
        <li><a href="{% url 'app2:ramu' %}">navigate to ramu</a></li>
        <li><a href="{% url 'app2:jaga' %}">navigate to jaga</a></li>
        <li><a href="{% url 'app1:ganga' %}">navigate to ganag</a></li>
        <li><a href="{% url 'app1:venkat' %}">navigate to venkat</a></li>
    </ol>
        
        
    </center>
</body>
</html>